// Button Dark/Light
.nav__btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: var(--mb-1-5);
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color);
}

// BASE
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--first-color);
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  border-left: 4px solid var(--first-color);
  padding: var(--mb-0-5) var(--mb-1-5);
  opacity: 0.75;
  background-color: var(--quote-color);
  color: black;
  margin: var(--mb-1-5) 0;
}

code {
  background-color: #272822;
}

ol {
  padding-left: var(--mb-1);
}

p {
  margin-bottom: var(--mb-0-75);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--mb-0-75);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid var(--first-color);
  background-color: var(--quote-color);
  color: #272822;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--first-color);
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
