<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <!--==================== UNICONS ====================-->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <!--==================== SWIPER CSS ====================-->
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">

  <!--==================== CSS ====================-->
  <link rel="stylesheet" href="/assets/css/styles.css">

  <link rel="icon" href="/assets/img/favicon.ico">
</head>
<body>
  <main class="main">
    {% include "partials/header.njk" %}
    {{ content | safe }}
    {% include "partials/footer.njk" %}
  </main>
  <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scollup" id="scoll-up">
      <i class="uil uil-arrow-up scollup__icon"></i>
    </a>
  <!--==================== SWIPER JS ====================-->
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

  <!--==================== MAIN JS ====================-->
  <script src="/assets/js/main.js"></script>
</body>
</html>
