<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="generator" content="Eleventy">
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="https://www.saulcorona.com/assets/img/saul-corona-hero.png">
    <meta property="og:url" content="https://www.saulcorona.com">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Saúl Corona">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"/>
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    <link rel="icon" href="/assets/img/favicon.ico"/>
  </head>
  <body>
    <main class="main">
      {% include "partials/header.njk" %}
      <section class="blog-single__section">
        <h1 class="section__title">{{ title }}</h1>
        <p class="blog-single__subtitle">Last update: {{ date }}</p>
      </section>
      <div class="table-of-contents">
        <span>Content</span>
        {{ content | toc | safe }}
      </div>
      <section class="blog-single__container">
        {{ content | safe }}
      </section>
      {% include "partials/footer.njk" %}
    </main>
    <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scollup" id="scoll-up">
      <i class="uil uil-arrow-up scollup__icon"></i>
    </a>
    <!--==================== SWIPER JS ====================-->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <!--==================== MAIN JS ====================-->
    <script src="/assets/js/main.js"></script>
  </body>
</html>
