---
layout: layouts/landing.njk
title: Saúl Corona
description: Hi 👋 I am a Software Engineer with over 5 years of experience in the tech industry.
---

{% include "partials/hero.njk" %}
{% include "partials/about.njk" %}
{% include "partials/experience.njk" %}
{% include "partials/skills.njk" %}
{% include "partials/contact.njk" %}
