<!--==================== CONTACT ME ====================-->
            <section class="contact section" id="contact">
              <h2 class="section__title">{{landing.contact.title}}</h2>
              <div class="project__bg">
                <div class="project__container container grid">
                  <div class="project__data">
                    <h2 class="project__title">{{landing.contact.subtitle}}</h2>
                    <p class="project__description">{{landing.contact.description}}</p>
                    <a
                      href="{{landing.socials[0].url}}"
                      target="_blank"
                      rel="noreferrer"
                      class="button button--flex">
                      Contact Me
                      <i class="uil uil-message button__icon"></i>
                    </a>
                  </div>
                </div>
              </div>
            </section>
