<!--==================== HOME ====================-->
<section class="home section" id="home">
  <div class="home__container container grid">
    <div class="home__content grid">
      <div class="home__social">
        {% for social in landing.socials %}
          <a href="{{ social.url }}" class="home__social-icon" target="_blank" rel="noreferrer">
            <i class="uil uil-{{ social.name }}"></i>
          </a>
        {% endfor %}
      </div>
      <div class="home__img">
        <img src="{{ landing.hero.image }}" alt="Profile image" style="width: 360px; height: auto; border-radius: 50%;"></div>
        <div class="home__data">
          <h1 class="home__title">{{ landing.hero.title }}</h1>
          <h3 class="home__subtitle">{{ landing.hero.subtitle }}</h3>
          <p class="home__description">{{ landing.hero.description }}</p>
          <a href="#contact" class="button button--flex">
            {{ landing.hero.cta }}<i class="uil uil-message button__icon"></i>
          </a>
        </div>
      </div>
      <div class="home__scroll">
        <a href="#about" class="home__scroll-button button--flex">
          <i class="uil uil-mouse-alt home__scroll-mouse"></i>
          <span class="home__scroll-name">Scroll down</span>
          <i class="uil uil-arrow-down home__scroll-arrow"></i>
        </a>
      </div>
    </div>
  </section>